.card-col {
  margin-bottom: 20px;
}

.img-container {
  align-self: center;
  position: relative;

  div {
    background-color: black;
    border-radius: 3px;
    height: 150px;
    width: 150px;
    position: absolute;
    opacity: 40%;
    text-align: center;
    color: rgb(255, 255, 255);

    p {
      font-size: 64px;
      margin-top: 30px;
      font-weight: 800;
      text-shadow: #095d87;
    }
  }

  div:hover {
    transition: 500ms;
    opacity: 0%;
  }
}
